@model CategoryViewModel
@{
    ViewData["Title"] = "Index";
}

<nav class="breadcrumb-nav">
    <div class="container">
        <ul class="breadcrumb">
            <li><a asp-controller="home" asp-action="index"><i class="d-icon-home"></i></a></li>
            <li>Shop</li>
        </ul>
    </div>
</nav>
<div class="page-content pb-10 mb-3">
    <div class="container">
        <div class="row gutter-lg main-content-wrap">
            <aside class="col-lg-3 sidebar sidebar-fixed shop-sidebar sticky-sidebar-wrapper">
                <div class="sidebar-overlay"></div>
                <a href="#" class="sidebar-toggle"><i class="fas fa-chevron-right"></i></a>
                <a class="sidebar-close" href="#"><i class="d-icon-times"></i></a>
                <div class="sidebar-content">
                    <div class="sticky-sidebar">
                        <div class="widget widget-collapsible">
                            <h3 class="widget-title">All Categories</h3>
                            @Html.Raw(Model.Category.GetCategoriesRaw())
                        </div>
                        <div class="widget widget-collapsible">
                            <h3 class="widget-title">Filter by Price</h3>
                            <div class="widget-body mt-3">
                                <form action="#">
                                    <div class="filter-price-slider"></div>

                                    <div class="filter-actions">
                                        <div class="filter-price-text mb-4">
                                            Price:
                                            <span class="filter-price-range"></span>
                                        </div>
                                        <button type="submit"
                                                class="btn btn-dark btn-filter btn-rounded">
                                            Filter
                                        </button>
                                    </div>
                                </form><!-- End Filter Price Form -->
                            </div>
                        </div>
                        <div class="widget widget-collapsible">
                            <h3 class="widget-title">Size</h3>
                            <ul class="widget-body filter-items" data-entity-name="sizes">

                                @foreach (var item in Model.Size)
                                {
                                    <li data-entity-id="@item.Id">
                                        <a href="#">@item.Name</a>
                                    </li>
                                }
                            </ul>
                        </div>
                        <div class="widget widget-collapsible">
                            <h3 class="widget-title">Color</h3>
                            <ul class="widget-body filter-items" data-entity-name="colors">
                                @foreach (var item in Model.Colors)
                                {
                                    <li data-entity-id="@item.Id"><a href="#">@item.Name</a></li>
                                }
                            </ul>
                        </div>
                        <div class="widget widget-collapsible">
                            <h3 class="widget-title">Brands</h3>
                            <ul class="widget-body filter-items" data-entity-name="brands">
                                @foreach (var item in Model.Brands)
                                {
                                    <li data-entity-id="@item.Id"><a href="#">@item.Name</a></li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </aside>
            <div class="col-lg-9 main-content">
                <div class="shop-banner-default banner mb-1"
                     style="background-image: url('uploads/images/shop/banner.jpg'); background-color: #4e6582;">
                    <div class="banner-content">
                        <h4 class="banner-subtitle font-weight-bold ls-normal text-uppercase text-white">
                            Riode Shop
                        </h4>
                        <h1 class="banner-title font-weight-bold text-white">Banner with Sidebar</h1>
                        <a href="#" class="btn btn-white btn-outline btn-icon-right btn-rounded text-normal">
                            Discover
                            now<i class="d-icon-arrow-right"></i>
                        </a>
                    </div>
                </div>
                <nav class="toolbox sticky-toolbox sticky-content fix-top">
                    <div class="toolbox-left">
                        <div class="toolbox-item toolbox-sort select-box text-dark">
                            <label>Sort By :</label>
                            <select name="orderby" class="form-control">
                                <option value="default">Default</option>
                                <option value="popularity" selected="selected">Most Popular</option>
                                <option value="rating">Average rating</option>
                                <option value="date">Latest</option>
                                <option value="price-low">Sort forward price low</option>
                                <option value="price-high">Sort forward price high</option>
                                <option value="">Clear custom sort</option>
                            </select>
                        </div>
                    </div>
                    <div class="toolbox-right">
                        <div class="toolbox-item toolbox-show select-box text-dark">
                            <label>Show :</label>
                            <select name="count" class="form-control">
                                <option value="12">12</option>
                                <option value="24">24</option>
                                <option value="36">36</option>
                            </select>
                        </div>
                        <div class="toolbox-item toolbox-layout">
                            <a href="#product-list"
                               data-container-class="products-wrapper product-lists" class="d-icon-mode-list mode-list btn-layout"></a>
                            <a href="#product-wrap"
                               data-container-class="products-wrapper" class="d-icon-mode-grid mode-grid btn-layout active"></a>
                        </div>
                    </div>
                </nav>
                <div id="productContainer" class="row cols-2 cols-sm-3 products-wrapper" @*style="display:block;"*@>

                    <partial name="_ProductContainer" model="@Model.Products" />

                    <div class="spinner-grow loader" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <nav class="toolbox toolbox-pagination">
                    <p class="show-info">Showing 12 of 56 Products</p>
                    <ul class="pagination">
                        <li class="page-item disabled">
                            <a class="page-link page-link-prev" href="#" aria-label="Previous" tabindex="-1"
                               aria-disabled="true">
                                <i class="d-icon-arrow-left"></i>Prev
                            </a>
                        </li>
                        @for (int i = 1; i <= ViewBag.PageCount; i++)
                        {
                            if (ViewBag.Page == i)
                            {
                                <li class="page-item active" aria-current="page">
                                    <a class="page-link" href="#">@i</a>
                                </li>
                            }
                            else
                            {
                                <li class="page-item active" aria-current="page">
                                    <a class="page-link" asp-controller="Shop" asp-action="Index" asp-route-page="@i">@i</a>
                                </li>
                            }

                        }
                        <li class="page-item">
                            <a class="page-link page-link-next" href="#" aria-label="Next">
                                Next<i class="d-icon-arrow-right"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

@section addjs{
    <script>

        $(document).ready(function () {
            $('.toolbox-layout a[href^="#product-"]').click(function (e) {
                e.preventDefault();

                $(e.currentTarget).parent().find('a').removeClass('active')
                $(e.currentTarget).addClass('active')

                const isList = $(e.currentTarget).attr('href') === '#product-list';
                const data = $(e.currentTarget).data();
                const container = $('#productContainer');
                container.attr('class', data.containerClass);

                (container).find('.product').each(function (index, item) {
                    const actionContainer = $(item).find('.product-action');
                    if (isList == true) {
                        $(item).find('.product-details').append(actionContainer);
                    } else {
                        $(item).find('.product-media').append(actionContainer);
                    }
                })

            })
        })

        function setFilter() {

            if ($.proccesId != undefined) {
                clearTimeout($.proccesId);
            }
            $.proccesId = setTimeout(function () {
                const filterObj = {};
                $('ul[data-entity-name]').each(function (index, item) {
                    const entityPropName = $(item).data('entity-name');
                    filterObj[entityPropName] = [];

                    $(item).find('li.active').each(function (i, value) {
                        const entityId = $(value).data('entity-id');
                        filterObj[entityPropName].push(entityId);
                    })
                })
                console.log(filterObj);

               /* const jsonFilterObj = JSON.stringify(filterObj)*/

                $.ajax(
                    {
                        url: '@Url.Action("Filter")',
                        type: 'POST',

                        data: filterObj,
                        contentType: 'application/x-www-form-urlencoded',

                        //data: jsonFilterObj,
                        //contentType: 'application/json',

                        dataType: 'html',
                        beforeSend: function () {
                            $('.loader').show()
                        },
                        success: function (response) {
                            $('#productContainer').html(response);

                            const isList = $('a[href="#product-list"].active');

                                if (isList != undefined) {
                                    $(isList)[0].click('');
                            }
                            $('.loader').hide();
                        },
                        error: function (response) {
                            console.log(response)
                        }


                    })@*always(function () {
                        $('.loader').hide()
                    })*@
            }, 2000)



        }


    </script>
    @*<script src="~/assets/js/CatPro.js"></script>*@
}

@section addcss{
    <link href="~/assets/css/14.product-style.min.css" rel="stylesheet" />
}
