@model Riode.Domain.Models.Entities.Size

@{
    ViewData["Title"] = "Details";
}



<div class="ml-5">
    <h1>Details</h1>
    <h4>Size</h4>
    <hr />
    <div class="form-group row d-flex">
        <label class="col-sm-2">
            Name
        </label>
        <p class="form-control col-sm-10">
            @Model.Name
        </p>
    </div>
    <div class="form-group row d-flex">
        <label class="col-sm-2">
            Abbr
        </label>
        <p class="form-control col-sm-10">
            @Model.Abbr
        </p>
    </div>
    <div class="form-group row d-flex">
        <label class="col-sm-2">
            Description
        </label>
        <p class="textarea col-sm-10">
            @Model.Description
        </p>
    </div>
    <div class="form-group row d-flex">
        <label class="col-sm-2">
            Created by User id
        </label>
        <p class="form-control col-sm-10">
            @Model.CreatedByUserId
        </p>
    </div>
    <div class="form-group row d-flex">
        <label class="col-sm-2">
            Created Date
        </label>
        <p class="form-control col-sm-10">
            @Model.CreatedDate
        </p>
    </div>
    <div class="form-group row d-flex">
        <label class="col-sm-2">
            Deleted by User Id
        </label>
        <p class="form-control col-sm-10">
            @Model.DeleteByUserId
        </p>
    </div>
    <div class="form-group row d-flex">
        <label class="col-sm-2">
            Deleted Date
        </label>
        <p class="form-control col-sm-10">
            @Model.DeleteDate
        </p>
    </div>
</div>
<div class="ml-5">
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> 
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>
